<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <script src="tailwindcss.js"></script>
</head>
<body class="bg-gray-100 flex flex-col font-sans min-h-screen">
    <nav class="flex justify-between items-center bg-blue-600 h-16 px-5 text-white">
        <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        <div>
            <a href="#" class="text-white hover:text-gray-300">Logout</a>
        </div>
    </nav>
    <section class="flex-grow flex justify-center items-center m-8">
        <div class="bg-white rounded-lg p-4 shadow max-w-2xl w-full">
            <h2 class="text-xl font-semibold" >All Blogs Posts</h2>
            <div class="flex flex-col space-y-4">
                <div class="m-4 border border-gray-300 rounded-lg p-4">
                    <h3 class="text-lg font-bold">Blog Post 1</h3>
                    <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="m-4 border border-gray-300 rounded-lg p-4">
                    <h3 class="text-lg font-bold">Blog Post 1</h3>
                    <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="m-4 border border-gray-300 rounded-lg p-4">
                    <h3 class="text-lg font-bold">Blog Post 1</h3>
                    <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="m-4 border border-gray-300 rounded-lg p-4">
                    <h3 class="text-lg font-bold">Blog Post 1</h3>
                    <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center text-black p-6 mt-4">
        Powered by <a href="" class="hover:text-blue-500">yemalin</a>
    </footer>
</body>
</html>