{% extends 'base.html' %}

{% block tilte %}Blog details{% endblock title %}

{% block content %}

<section class="flex-grow flex justify-center items-center m-8">
    <div class="max-w-2xl w-full bg-white rounded-lg shadow-md">
        <div class="m-6">
            <h2 class="text-xl font-semibold" >Blog Post Details</h2>
            <div class="mt-4 p-3 border border-gray-300 rounded">
                <h3 class="text-xl font-semibold">Blog Post Title</h3>
                <p class="text-gray-700">This is the content</p>
                <hr class="my-4 border-gray-300">
                <h3 class="text-xl font-semibold">Youtube title</h3>
                <p class="text-gray-700">Title of the associated youtube video</p>
                <h3 class="text-xl font-semibold mt-3">Youtube link</h3>
                <a href="#" class="text-blue-500 hover:text-blue-700">https://www.youtube.com</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
